**Assingment 1.1**: WAP to print your name three times

In [1]:
for i in range(3):
    print("Aindri Singh")

Aindri Singh
Aindri Singh
Aindri Singh

**Assingment 2.1**: WAP to add three numbers and print the result.

In [3]:
a = 10
b = 20
c = 30
d = a+b+c
print(f"{a}+{b}+{c} --> {d}")

10+20+30 --> 60

**Assingment 2.2**: WAP to concatinate three strings and print the result.

In [2]:
hello = "Hello "
a = "Aindri"
b = " Singh"
final = hello+a+b
print (f"{hello}+{a} +{b} --> {final}")

Hello +Aindri + Singh --> Hello Aindri Singh

**Assingment 4.1**: WAP to print the table of 7, 9.

In [ ]:
for i in range(11):
    print(f"7 X {i} = {7*i}")

7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
for i in range(11):
    print(f"9 X {i} = {9*i}")

9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

**Assingment 4.2**: WAP to print the table of n and n is given by user.

In [ ]:
n = int(input("Enter the number"))
for i in range(11):
    print(f"{n} X {i} = {n*i}")

Enter the number 8

8 X 0 = 0
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

**Assingment 4.3**: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n = int(input("Enter the number"))
result = n*(n+1)/2
print(result)

Enter the number 5

15.0

**Assingment 5.1**: WAP to find max amoung three numbers and input from user. [Try max() function]

In [ ]:
list1 = []
for i in range(3):
    list1.append(int(input(f"Enter the {i}th number")))
print(list1)
print(max(list1))

Enter the 0th number 22
Enter the 1th number 33333
Enter the 2th number 1

[22, 33333, 1]
33333

**Assingment 5.2**: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
n = int(input("Enter a No: "))
sum=0
for i in range(n+1):
    if(i%7==0 or i%9==0):
        sum+=i
print(sum)

Enter a No:  27

96

**Assingment 5.3**: WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n = int(input("Enter a No: "))
sum =0
for i in range(2, n+1):
    flag =0
    for div in range(2, int(i**0.5) + 1):
    	if  i%div == 0:
    		flag =1
    		break
    if flag ==0:
    	sum+=i
print(sum)

Enter a No:  10

17

**Assingment 6.1**: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
def oddAdder(n):
    sum=0
    for i in range(n+1):
        if(i%2!=0):
            sum+=i
    return sum
result = oddAdder(5)
print(result)

9

**Assingment 6.2**: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [4]:
def oddAdder(n):
    sum=0
    for i in range(2, n+1):
        flag=0
        for div in range(2, int(i**0.5)+1):
            if(i%div==0):
                flag=1
                break
        if(flag==0):
            sum+=i
    return sum
result = oddAdder(5)
print(result)

10